<% if user_signed_in? %>
<h1>You're logged da fug in!</h1>
<% else %>

	<div class="row">
	  
	  <div class="span8">

			<h1>Yo this is the mofuggin home page</h1>
			<p>
				YOU FOUND THE HOME PAGE, OHHH MYYYY!!!
				<a href="http://www.mattnovick.carbonmade.com">Click to see sexy shiet !</a>
			</p>

			<p>
				<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

			</p>
		</div>
	</div>
<% end %>


